.adminContainer {
  background-color: whitesmoke;
  width: 96vw;
  position: absolute;
  top: 20px;
}
.adminHeader {
  display: flex;
  align-items: center;
  background-color: darkblue;
  height: 3rem;
  border: solid white 1px;
}
.adminHeader div {
  display: flex;
  position: absolute;
  right: 20px;
}
article {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5px;
}
.adminPanelUserDisplay {
  margin-bottom: 20px;
  padding-left: 20px;
  width: 98%;
}

.singleUserDisplay {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
}
.singleUserDisplay li {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
.item {
  margin-left: 2vw;
}
#remove {
  color: red;
  cursor: pointer;
}
#remove:hover {
  color: rgb(201, 0, 0);
}
#add {
  color: green;
  cursor: pointer;
}

#add:hover {
  color: rgb(42, 211, 0);
}
#minus {
  color: rgb(224, 108, 0);

  cursor: pointer;
}
#minus:hover {
  color: rgb(255, 166, 0);
}
