#statsContainer {
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);
  color: black;
}
.generalContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 10vh;
}
.statHeader {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  border-bottom: solid 2px black;
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 1rem;
}
.table {
  border: solid 2px;
  margin-top: 4px;
  margin-left: 4px;
}

.statContainer {
  display: flex;
  font-size: 0.95rem;
}
.verticalBorder {
  border-right: solid 2px;
  font-size: 0.9rem;
}
.noBorder {
  font-size: 0.9rem;
}
.statName {
  background-color: rgba(190, 190, 190, 0.322);
  color: rgb(0, 0, 0);
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  display: flex;
  border-bottom: solid 1px;
}
#apartmentStatsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 62px;
}
#apartmentStatsHeader {
  background-color: rgb(2, 49, 0);
  color: white;
  display: flex;
  align-items: center;
  display: flex;
  border-right: solid 1px black;
}
.apStatsHeaderTop {
  display: flex;
}
#realHeader {
  border-bottom: solid 2px white;
  width: 100%;
}
#blankHeader {
  min-width: 10vw;
  background-image: linear-gradient(to left, #d8d8d8 10%, green 40%);
  background-size: 2px;
  background-color: rgb(230, 230, 230);
  border-bottom: solid 2px white;
  border-right: solid 1px white;
}

.apStatsHeaderBottom {
  display: flex;
  border-bottom: solid 1px rgb(255, 247, 134);
}
#apartmentStatsBody {
  height: 200vh;
}
.apStatsTotal {
  width: 62%;
  color: white;
  display: flex;
  flex-direction: column;
  border-right: solid 4px rgb(255, 255, 255);
}
.apStatsAverage {
  width: 38%;
  color: white;
  display: flex;
  flex-direction: column;
}
.apStatsItem {
  width: 8vw;
  font-size: 0.85rem;
  border-right: solid 1px white;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.sortButton {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 5px;
  font-size: 0.7rem;
}
.sortButton:hover {
  color: rgb(252, 255, 54);
}
.apStatsItemBody {
  width: 8vw;
  font-size: 0.8rem;
  border-right: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
}
.apStatsApartmentName {
  width: 10vw;
  font-size: 0.85rem;
  border-right: solid 1px white;
  text-align: center;
}
.apStatsApartmentNameBody {
  border-left: solid 1px black;
  padding-left: 4px;
  width: 10vw;
  font-size: 0.8rem;
  border-right: solid 1px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4vh;
  color: rgb(1, 0, 53);
}
.apStatsEarningsItem {
  width: 10vw;
  font-size: 0.85rem;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
}
.apStatsEarningsItemBody {
  width: 10vw;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
}

#apartmentStatsBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 120vh;

  margin-left: 5px;
  margin-right: 5px;
}
.apartmentRow {
  display: flex;
  width: 100%;
  font-size: 0.15rem;
  border-bottom: solid 1px black;
  align-items: center;
}
.apartmentStatsBig {
  width: 62%;
  display: flex;
  border-right: solid 4px rgb(255, 255, 255);
}
.apartmentStatsSmall {
  width: 38%;
  display: flex;
  border-right: solid 1px black;
  height: 100%;
}
